// $green: hsl(101, 64%, 70%);
$green: #A2E980;
$grey: #aaa;
$white: rgba(255,255,255,0.9);

$quarter-step: 5px;
$half-step: 11px;
$whole-step: 22px;
$double-step: 44px;

@mixin iphone4 {
    @media screen and (device-aspect-ratio: 2/3) {
        @content;
    }
}

@mixin iphone5 {
    @media screen and (device-aspect-ratio: 40/71) {
        @content;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font: -apple-system-body;
	line-height: 1.46666;
	background-color: #000;
	color: #4d4d4d;
	width: 100%;
	margin: 0 auto;
    overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a, a:hover, a:visited {
    color: $green;
    text-decoration: none;
}

.app {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.menu {
    opacity: 0;
    button {
        height: 33.333%;
        width: 60%;
        border: 0;
        display: block;
        background-color: red;
        font-size: 12px;
        text-transform: uppercase;

        &::before {
            display: block;
            font-size: 48px;
        }

        &.about {
            background-color: #A1E482;
        }
        &.share {
            background-color: #FBE14E;
        }
        &.feedback {
            background-color: #FFA850;
        }
    }
}

.associate {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    -webkit-transition: left 0.65s cubic-bezier(0.23,1,0.32,1),
                        -webkit-transform 0.3s cubic-bezier(0.23,1,0.32,1);
    -webkit-transform: translateZ(0);

    border-left: 1px solid black;
    border-right: 1px solid black;

    overflow: hidden;

    .bg-holder {
        height: 110%;
        width: 110%;
        position: absolute;
        top: 0;
        left: -5%;
        -webkit-transform: translateZ(0);
        /* background image url is set in the template */
        background-position: center top;
        background-size: cover;
        // -webkit-transition: top 0.65s cubic-bezier(0.23,1,0.32,1);
        &.blurred {
            -webkit-filter: blur(6px);
            // -webkit-transition: top 0.65s cubic-bezier(0.23,1,0.32,1), opacity 0.65s linear;
            opacity: 0;
            z-index: 3;
            pointer-events: none;

            &.animating {
                -webkit-transition: opacity 0.65s cubic-bezier(0.23,1,0.32,1);
            }
            &.visible {
                opacity: 1;
            }
        }
    }
    h1, h2 {
        color: $green;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.4em;
        text-align: center;
        line-height: 0.9;
        padding-top: $half-step;
        margin: 0;
        position: relative;
        z-index: 5;
        -webkit-transform: translateZ(0);
    }
    h2 {
        color: $white;
        text-transform: none;
        font-size: 0.7em;
        padding-top: $quarter-step;
    }

    .btn-menu-button {
        position: absolute;
        z-index: 10;
        border: 0;
        color: $green;
        font-size: 32px;
        padding: 8px;
        margin: 0;
        -webkit-transform: translateZ(0);
    }

    .logo {
        // position: absolute;
        // width: 40%;
        // left: 30%;
        // bottom: 50px;

        width: 150px;
        margin: -10px 75px 32px;
    }

    .amazon-form {
        display: block;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translate3d(0, -50%, 0);

        input[type="text"] {
            font-size: 1em;
            padding: $half-step;
            border: 1px solid black;
            border-radius: 5px;
            width: 80%;
            margin: 0 0 0 10%;
        }
        button[type="submit"] {
            -webkit-appearance: none;
            border-radius: 0;
            width: 9%;
            left: -40px;
            top: 2px;
            position: relative;
            padding: 10px 5px;
            margin: 0;
            font-size: 1.3em;
            color: $grey;
            background-color: transparent;
            border: 0;
            border-left: 1px solid #ddd;

            &::-webkit-input-placeholder {
                color: black;
            }
        }
    }

    .description-holder {
        margin: 8px;

        // get the scrollbar off the edge of the screen
        width: 100%;
        padding-right: 16px;

        padding-bottom: 32px;
        position: relative;
        z-index: 10;
        color: #eee;
        height: 85%;
        -webkit-transform: translate3d(0, 80%, 0);
        @include iphone4 {
            -webkit-transform: translate3d(0, 77%, 0);
        }
        &.two-line-heading {
            -webkit-transform: translate3d(0, 75%, 0);
            @include iphone4 {
                -webkit-transform: translate3d(0, 69%, 0);
            }
        }
        // -webkit-transform: translateZ(0);
        -webkit-overflow-scrolling: touch;

        @include iphone4 {
            height: 411px;
        }

        @include iphone5 {
            height: 499px;
        }

        &.animating {
            -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.23,1,0.32,1);
        }
        &.visible {
            -webkit-transform: translate3d(0, 0, 0);
        }
        &.scrollable {
            overflow-y: scroll;
        }

        .btn-description-button {
            border: 0;
            color: rgba(255,255,255,0.5);
            text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
            font-size: 32px;
            padding: 0;
            text-align: center;
            width: 100%;
            line-height: 0.5;
        }

        p {
            background-color: rgba(30,30,30,0.7);
            padding: 8px 8px 16px;
            margin: 0;
        }

    }
}

.current {
    left: 0;
}

.next {
    left: 100%;
}

.prev {
    left: -100%;
}

.hidden {
    display: none;
}

@import "ionicons";
