$green: hsl(101, 64%, 70%);
$grey: #aaa;

$half-step: 11px;
$whole-step: 22px;
$double-step: 44px;

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.46666;
	background: #eaeaea url('../images/bg.png');
	color: #4d4d4d;
	width: 100%;
	margin: 0 auto;
    overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.app {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.associate {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    -webkit-transition: left 0.4s ease-out;

    -webkit-transform: translateZ(0);

    /* background image url is set in the template */
    background-position: center top;

    h1 {
        color: $green;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.4em;
        text-align: center;
        padding: $half-step;
        margin: 0;
    }

    .logo {
        position: absolute;
        width: 33%;
        left: 33%;
        bottom: $double-step;
    }

    .amazon-form {
        display: block;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);

        input[type="text"] {
            font-size: 1em;
            padding: $half-step;
            border: 1px solid black;
            border-radius: 5px;
            width: 80%;
            margin: 0 0 0 10%;
        }
        input[type="submit"] {
            -webkit-appearance: none;
            border-radius: 0;
            width: 10%;
            margin-left: -12%;
            padding: $half-step 0;
            background-color: white;
            border: 0;
            border-left: 1px solid $grey;

            &::-webkit-input-placeholder {
                color: black;
            }
        }
    }
}

.current {
    left: 0;
}

.next {
    left: 100%;
}

.prev {
    left: -100%;
}

.hidden {
    display: none;
}
