<?xml version='1.0' encoding='utf-8'?>
<widget id="co.greencart.ios.Greencart" version="28" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Greencart</name>
    <description>
        Amazon shopping via non-profit associates
    </description>
    <author email="ab@adam-butler.com">
        Adam Butler
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="OpenAllWhitelistURLsInWebView" value="true" />

    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

    <feature name="Console">
        <param name="ios-package" value="CDVLogger"/>
    </feature>

    <feature name="GAPlugin">
        <param name="ios-package" value="com.adobe.plugins.GAPlugin"/>
    </feature>
</widget>
